In [1]:
import numpy as np
import pandas as pd
from sklearn.metrics import confusion_matrix
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn.metrics import classification_report
from sklearn.tree import DecisionTreeClassifier

In [2]:
# function to perform training with gini index
#function to perform training with giniIndex
def train_using_gini(X_train, X_test, y_train):
  #creating the classifier object
  clf_gini = DecisionTreeClassifier(criterion = 'gini', random_state = 100, max_depth= 3, min_samples_leaf = 5)

  #performing training
  clf_gini.fit(X_train, y_train)
  return clf_gini

In [3]:
# function to perform training with information gain or entropy
def train_using_entropy(X_train,X_test,y_train):
    #Creating classifier object
    clf_entropy = DecisionTreeClassifier(criterion = "entropy", random_state=100,max_depth=3,min_samples_leaf=5)
    #perform training
    clf_entropy.fit(X_train,y_train)
    return clf_entropy

In [4]:
#Function to make predictions
def prediction(X_test,clf_object):
        #Perform on test with gini index
        y_pred = clf_object.predict(X_test)
        print('predicited values:')
        print(y_pred)
        return y_pred

In [5]:
def cal_accuracy(y_test,y_pred):
    print("confusion matrix 19bec1208:",confusion_matrix(y_test,y_pred))
    print("accuracy_score 19bec1208:",accuracy_score(y_test,y_pred)*100)
    print("classification report 19bec1208:",classification_report(y_test,y_pred))

In [6]:
balance_data=pd.read_csv('Iris.csv')
print("Dataset lemgth:",len(balance_data))
print("Dataset shape:",balance_data.shape)

Dataset lemgth: 150
Dataset shape: (150, 6)

In [7]:
balance_data

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
0,1,5.1,3.5,1.4,0.2,Iris-setosa
1,2,4.9,3.0,1.4,0.2,Iris-setosa
2,3,4.7,3.2,1.3,0.2,Iris-setosa
3,4,4.6,3.1,1.5,0.2,Iris-setosa
4,5,5.0,3.6,1.4,0.2,Iris-setosa
...,...,...,...,...,...,...
145,146,6.7,3.0,5.2,2.3,Iris-virginica
146,147,6.3,2.5,5.0,1.9,Iris-virginica
147,148,6.5,3.0,5.2,2.0,Iris-virginica
148,149,6.2,3.4,5.4,2.3,Iris-virginica
149,150,5.9,3.0,5.1,1.8,Iris-virginica

In [8]:
X=balance_data.values[:,0:4]
y=balance_data.values[:,-1]

In [10]:
#splitting the dataset into train and text
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.3, random_state = 100)
clf_gini = train_using_gini(X_train, X_test, y_train)
clf_entropy = train_using_entropy(X_train, X_test, y_train)
print("results using gini index:")
y_pred_gini = prediction(X_test, clf_gini)
cal_accuracy(y_test, y_pred_gini)
print("results using entropy:")
y_pred_entropy = prediction(X_test, clf_entropy)
cal_accuracy(y_test, y_pred_entropy)

results using gini index:
predicited values:
['Iris-virginica' 'Iris-setosa' 'Iris-virginica' 'Iris-setosa'
 'Iris-virginica' 'Iris-virginica' 'Iris-setosa' 'Iris-setosa'
 'Iris-virginica' 'Iris-setosa' 'Iris-setosa' 'Iris-virginica'
 'Iris-setosa' 'Iris-setosa' 'Iris-virginica' 'Iris-versicolor'
 'Iris-versicolor' 'Iris-versicolor' 'Iris-virginica' 'Iris-virginica'
 'Iris-virginica' 'Iris-setosa' 'Iris-virginica' 'Iris-setosa'
 'Iris-versicolor' 'Iris-virginica' 'Iris-versicolor' 'Iris-setosa'
 'Iris-versicolor' 'Iris-virginica' 'Iris-versicolor' 'Iris-versicolor'
 'Iris-virginica' 'Iris-setosa' 'Iris-setosa' 'Iris-versicolor'
 'Iris-setosa' 'Iris-versicolor' 'Iris-virginica' 'Iris-virginica'
 'Iris-setosa' 'Iris-versicolor' 'Iris-virginica' 'Iris-virginica'
 'Iris-setosa']
confusion matrix 19bec1208: [[16  0  0]
 [ 0 11  0]
 [ 0  0 18]]
accuracy_score 19bec1208: 100.0
classification report 19bec1208:                  precision    recall  f1-score   support

    Iris-setosa       1.00      1.00      1.00        16
Iris-versicolor       1.00      1.00      1.00        11
 Iris-virginica       1.00      1.00      1.00        18

       accuracy                           1.00        45
      macro avg       1.00      1.00      1.00        45
   weighted avg       1.00      1.00      1.00        45

results using entropy:
predicited values:
['Iris-virginica' 'Iris-setosa' 'Iris-virginica' 'Iris-setosa'
 'Iris-virginica' 'Iris-virginica' 'Iris-setosa' 'Iris-setosa'
 'Iris-virginica' 'Iris-setosa' 'Iris-setosa' 'Iris-virginica'
 'Iris-setosa' 'Iris-setosa' 'Iris-virginica' 'Iris-versicolor'
 'Iris-versicolor' 'Iris-versicolor' 'Iris-virginica' 'Iris-virginica'
 'Iris-virginica' 'Iris-setosa' 'Iris-virginica' 'Iris-setosa'
 'Iris-versicolor' 'Iris-virginica' 'Iris-versicolor' 'Iris-setosa'
 'Iris-versicolor' 'Iris-virginica' 'Iris-versicolor' 'Iris-versicolor'
 'Iris-virginica' 'Iris-setosa' 'Iris-setosa' 'Iris-versicolor'
 'Iris-setosa' 'Iris-versicolor' 'Iris-virginica' 'Iris-virginica'
 'Iris-setosa' 'Iris-versicolor' 'Iris-virginica' 'Iris-virginica'
 'Iris-setosa']
confusion matrix 19bec1208: [[16  0  0]
 [ 0 11  0]
 [ 0  0 18]]
accuracy_score 19bec1208: 100.0
classification report 19bec1208:                  precision    recall  f1-score   support

    Iris-setosa       1.00      1.00      1.00        16
Iris-versicolor       1.00      1.00      1.00        11
 Iris-virginica       1.00      1.00      1.00        18

       accuracy                           1.00        45
      macro avg       1.00      1.00      1.00        45
   weighted avg       1.00      1.00      1.00        45

In [11]:
import numpy as np
import pandas as pd
from sklearn.metrics import confusion_matrix
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn.metrics import classification_report
from sklearn.tree import DecisionTreeClassifier

In [12]:
def dctree_using_gini(X_train,X_test,y_train):
    clf_gini=DecisionTreeClassifier(criterion="gini",random_state=100,max_depth=10,min_samples_leaf=15)
    clf_gini.fit(X_train,y_train)
    return clf_gini

In [13]:
def dctree_using_entropy(X_train,X_test,y_train):
    clf_entropy=DecisionTreeClassifier(criterion="entropy",random_state=100,max_depth=15,min_samples_leaf=10)
    clf_entropy.fit(X_train,y_train)
    return clf_entropy

In [14]:
def predict(X_test,clf):
    ypred=clf.predict(X_test)
    return ypred;

In [15]:
data=pd.read_csv("heart_failure_clinical_records_dataset.csv")

In [16]:
from sklearn.model_selection import train_test_split

In [17]:
data.head()

,age,anaemia,creatinine_phosphokinase,diabetes,ejection_fraction,high_blood_pressure,platelets,serum_creatinine,serum_sodium,sex,smoking,time,DEATH_EVENT
0,75.0,0,582,0,20,1,265000.00,1.9,130,1,0,4,1
1,55.0,0,7861,0,38,0,263358.03,1.1,136,1,0,6,1
2,65.0,0,146,0,20,0,162000.00,1.3,129,1,1,7,1
3,50.0,1,111,0,20,0,210000.00,1.9,137,1,0,7,1
4,65.0,1,160,1,20,0,327000.00,2.7,116,0,0,8,1

In [18]:
X=data.iloc[:,0:-1]
y=data.iloc[:,-1:]

In [19]:
X

,age,anaemia,creatinine_phosphokinase,diabetes,ejection_fraction,high_blood_pressure,platelets,serum_creatinine,serum_sodium,sex,smoking,time
0,75.0,0,582,0,20,1,265000.00,1.9,130,1,0,4
1,55.0,0,7861,0,38,0,263358.03,1.1,136,1,0,6
2,65.0,0,146,0,20,0,162000.00,1.3,129,1,1,7
3,50.0,1,111,0,20,0,210000.00,1.9,137,1,0,7
4,65.0,1,160,1,20,0,327000.00,2.7,116,0,0,8
...,...,...,...,...,...,...,...,...,...,...,...,...
294,62.0,0,61,1,38,1,155000.00,1.1,143,1,1,270
295,55.0,0,1820,0,38,0,270000.00,1.2,139,0,0,271
296,45.0,0,2060,1,60,0,742000.00,0.8,138,0,0,278
297,45.0,0,2413,0,38,0,140000.00,1.4,140,1,1,280
298,50.0,0,196,0,45,0,395000.00,1.6,136,1,1,285

In [20]:
y.head()

   DEATH_EVENT
0            1
1            1
2            1
3            1
4            1

In [21]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.3, random_state = 100)

In [22]:
clf_gini = dctree_using_gini(X_train, X_test, y_train)
clf_entropy = dctree_using_entropy(X_train, X_test, y_train)
y_pred_gini = predict(X_test, clf_gini)
print("results using gini index:",y_pred_gini)

y_pred_entropy = predict(X_test, clf_entropy)
print("results using entropy:",y_pred_entropy)

results using gini index: [0 0 0 0 0 0 0 0 1 0 0 1 0 0 0 1 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0
 0 1 0 0 0 1 0 0 0 0 1 0 0 1 0 1 1 0 0 0 1 0 1 0 0 1 1 0 0 0 0 0 1 0 1 0 0
 0 0 0 0 0 1 0 0 1 1 0 0 1 0 0 1]
results using entropy: [0 0 0 0 0 1 0 0 1 0 0 1 0 0 0 1 0 0 1 0 0 0 1 0 0 0 1 0 1 0 0 0 1 1 1 0 0
 0 1 0 0 0 1 0 0 0 1 1 0 1 1 0 1 1 0 0 0 1 0 1 0 0 1 1 0 0 1 0 0 1 0 1 0 1
 0 0 0 0 0 1 0 0 1 1 0 0 1 0 0 1]

In [23]:
accuracy_score(y_test,y_pred_gini)

0.8333333333333334

In [24]:
accuracy_score(y_test,y_pred_entropy)

0.8111111111111111

In [ ]:
s